body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-3xs: 10px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-lg: 18px;

  /* Colors */
  --color-whitesmoke-100: #f1f1f1;
  --subtext: #595555;
  --color-darkgray: #959ba5;
  --color-white: #fff;
  --color-gray-100: rgba(0, 0, 0, 0.05);
  --color-gray-200: rgba(0, 0, 0, 0.1);
  --color-mediumslateblue: #a66df2;
  --h1: #37474f;

  /* Gaps */
  --gap-mini: 15px;

  /* border radiuses */
  --br-mini: 15px;
  --br-base: 16px;
  --br-21xl: 40px;
}
